$transition: 0.5s all ease;
@mixin flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin text-font ($size){
  font-family: "Roboto";
  font-weight: 400;
  font-size: $size;;
}